{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <link rel="shortcut icon" href="{% static 'img/logo.png '%}">
      <title>PRView</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="{% static 'css/pr_b.css' %}">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
        <div class="container">
          <a class="navbar-brand" href="{% url 'prv_app:prv_list' %}"><h1>PRView</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <form action="{% url 'prv_app:button' %}" method="POST">
                {% csrf_token %}
                  <div>
                    <label for="text">URL or Movie Name</label>
                    <input type="text" name="url_movie_text" size="50"/>
                    <a href="{% url 'prv_app:button' %}"><button class="btn" type ="submit">search</button></a>
                  </div>
                </form>
              </ul>
            </div>
        </div>
      </nav>
      <!-- Page Content -->
      <header class="masthead">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="container">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <div>
                      <h2>PRView Content</h2>
                      <p>Auction과 네이버 영화 리뷰 시각화 사이트</p>
                      <p>상품 URL or 영화명 입력 시 리뷰 데이터 시각화</p>
                      <p>긍정과 부정의 리뷰 데이터 시각화</p>
                    </div>
                    <span class="list-group">
                      <a href="{% url 'prv_app:all_m' %}" class="list-group-item list-group-item-success">전체 워드클라우드</a>
                      <a href="{% url 'prv_app:pos_m' %}" class="list-group-item list-group-item-info">긍정 워드클라우드</a>
                      <a href="{% url 'prv_app:neg_m' %}" class="list-group-item list-group-item-danger">부정 워드클라우드</a>
                    </span>
                  </div>
                  <div class="col-xs-6 col-md-4">
                      <span><img src="{% static 'img_pos/movie_pos.png' %}" alt="..." width="400" height="400" hspace="250"/></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
       <!-- Update -->
      <section>
          <div class="update-list" style="background-color:gray;">
            <div class="row">
              <div class="col-xs-12 col-md-8">
                <div>
                  <h1 style="color: black;">PRView Update</h1>
                  <p style="color: white;">2019.06.15  18:35 Auction 리뷰 방식 업데이트로 인한 크롤링 파트 수정</p>
                  <p style="color: white;">2019.06.15  18:35 크롤링 후 chrome driver 종료</p>
                  <p style="color: white;">2019.06.16  09:00 영화 크롤링 대용량 텍스트 데이터 처리를 위한 멀티 프로세싱 동작 구현</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      <!-- Copyright -->
      <div id="footer" style="background-color:black; color:white;">        
        <div class="container">
          <br>
          <div class="row">
            <div class="col-sm-12" style="text-align: center;">
              <h5>우) 31460 충청남도 아산시 탕정면 선문로221번길 70 (탕정면, 선문대학교)</h5>
              <h5>tel : 010-5238-4889 010-7278-0265 010-5135-3429 010-4840-7867 | FAX : 000-0000-0000</h5>
              <h5>Team Leader : kodeep11@gmail.com </h5>
              <h5>Copyrihgt &copy; 2019. 으잉. All rights reserved.</h5>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>