# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# 가상환경
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# 환경 변수
.env
.env.local

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db