{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PRView</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/pr_a.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#">PRView</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <div class="input-group">
                    <input type="text_url" class="form-control" placeholder="Search for goods URL or Movie name">
                      <span class="input-group-btn">
                        <a href=""></a><button class="btn btn-default" type="button">search</button>
                      </span>
                  </div><!-- /input-group -->
                </ul>
              </div>
            </div>
          </nav>
          
          <!-- Full Page Image Header with Vertically Centered Content -->
          <header class="masthead">
            <div class="container h-100">
              <div class="row h-100 align-items-center">
                  <h1 class="font-weight-light">옥션 사이트와 네이버 영화 리뷰 데이터 시각화 사이트</h1>
                  <div class="col-xs-6">
                      <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-success">긍정</a>
                        <a href="#" class="list-group-item list-group-item-danger">부정</a>
                      </div>
                  </div>
                  <p>
                    <img src="static/img/header.png" alt="..." width="410" height="410" hspace = 215>
                  </p>
              </div>
            </div>
          </header>
          <!-- Page Content -->
          <section class="py-5">
            <div class="container">
              <h2 class="font-weight-light">PRView Content</h2>
              <p>Auction과 네이버 영화 리뷰 시각화 사이트입니다.</p>
              <p>해당 상품 리뷰 사이트와 영화명을 입력시 리뷰 데이터를 시각화 해줍니다.</p>
              <p>리뷰 데이터를 긍정과 부정의 의미가 있는 데이터로 보여주는 기능도 있습니다.</p>
            </div>
          </section>
    </body>
</html>