{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PRView</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/pr_a.css' %}">
    </head>
    <body>
        <header>
            <div class="container">
                <pre></pre>
                <pre></pre>
                <pre></pre>
                <pre></pre>
                <h1><p>PRView</p></h1>
            </div>
        </header>
        <pre></pre>
        <pre></pre>
        <pre></pre>
        <nav>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="해당 상품 링크 주소를 입력해주세요!!">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">찾기</button>
                        </span>
                </div>
            </div>
        </nav>
        <pre></pre>
        <pre></pre>
        <pre></pre>
        <section>
             <div class="col-md-4">
                <div class="list-group">
                    <a href="#" class="list-group-item">G마켓</a>
                    <a href="#" class="list-group-item">인터파크</a>
                    <a href="#" class="list-group-item">위메프</a>
                </div>
            </div>
        </section>
        <article>
            
        </article>
        <aside>

        </aside>
        <footer>

        </footer>
    </body>
</html>